
  
.support-side {
    max-width: 600px;
    margin-left: 100px;
}

.support-h {
    color: #000;
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}


.red-text {
    font-size: 1rem;
    color: #A31F23;
    font-weight: 800;
    text-align: center;
    line-height: 1.4;
    margin-top: 50px;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.red-text:hover {
    text-decoration: underline;
}

.support-text {
    color: #222222;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
}

.support-side p {
    color: #222222;
    font-family: Arial, Helvetica, Verdana, Geneva, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.support-column {
    margin-bottom: 60px;
}

.adress-column p {
    margin: 5px 0;
    line-height: 1.2; 
}

.adress-column {
    margin-bottom: 50px;
}

